<!DOCTYPE html>
<html lang=ru><meta charset=utf-8>

<head>
    <meta charset="UTF-8">
    <title>ИС Кинотеатр</title>
    <link href="/static/base.css" rel="stylesheet" type="text/css" media="all">
    <style type="text/css">
   A {
    color: #FFFFFF; /* Цвет обычной ссылки */
   }
   A:visited {
    color: #FFFFFF; /* Цвет посещенной ссылки */
   }
  </style>
</head>

<body class="default_bg">

{# Here should be page content #}
{% block extension %}
{% endblock %}

<footer class="my_footer">Давтян Артем РК6-55Б</footer>
</body>