{% extends 'base.html' %}
{% block extension %}

    <h2 style="color:#FFFFFF;">Здравствуйте, {{ rol }} {{ usr }}!</h2>
    <h2  style="color: white">Главное меню</h2>
    <div style="color: white;  margin-top: 100px; width: 500px; background: rgba(0, 0, 0, 0.3); align-self: center; align-items: center">
        <ul>
            <li><a href="/menu"> Работа с запросами</a></li>
            <li><a href="/editor"> Редактировать список фильмов</a></li>
            <li><a href="/login"> Сменить пользователя</a></li>
            <li><a href="/login/exit"> Выход</a></li>
        </ul>
    </div>

{% endblock %}